@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display';
}

p,li,a,button{
font-family: 'Lora', serif;
}

header{
  background: rgba(84, 48, 14, 0.2);
backdrop-filter: blur(17.5px);
}
.section-heading{
font-size: 36px;
font-weight: 500;
text-align: left;

}
.container{
  max-width: 1280px !important;
  margin: 0px auto;
}